* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    max-height: 100%;
    font-size: 18px;
    overflow-x: hidden;

    background: linear-gradient(#111111, #292929);
    background-size: cover;
    color: #ffa500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.workLink {
    color: white;
}

.src-code {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.nav {
    background-color: #0a0a0a;
    color: orange;
    display: flex;
    border-bottom: 1px solid orange;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    font-weight: 900;

}

.nav ul {

    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    position: relative;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.nav li:hover {
    color: rgb(23, 23, 22)rgb(145, 102, 23)
}

li {
    position: relative;
    margin: 0;
}

.nav li::after {
    content: '';
    height: 2px;
    width: 100%;
    background: orange;
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;

}

.nav li:hover::after {
    opacity: 1;
}

.--text-center {
    text-align: center;
}

.--card {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.btn {

    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 20px;
    margin-top: 20px;
    border: 1px solid orange;
    border-radius: 10px;
    background: black;
    color: orange;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.--column {
    display: inline-block;
    margin-top: 6px;
    padding: 20px;
    width: 350px;
    height: 425px;
    align-content: center;
    align-items: center;
}

h1,
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: #0a0a0a;
    border-top: 1px solid orange;
    margin: 0;
    margin-top: 0px;
    scroll-padding-block-end: 100%;
}

.fa-brands {
    color: orange;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    left: 50%;
    margin: 10px;
}

.fa-brands:hover {
    box-shadow: 0 0 5px 3px rgba(147, 9, 9, 0.5);
    transform: scale(1.2);
    /* Här har jag lagt en liten hover-förstorning på ikonerna */
}

.fontawesome {
    text-align: center;
}



.fade-logo {
    font-size: 5rem;
    display: flex;
    -webkit-animation: fade-inout 7s;
    -moz-animation: fade-inout 7s;
    -o-animation: fade-inout 7s;
    animation: fade-inout 7s;
}

.video-container {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.video-container iframe {

    width: 100%;
    height: 450px;
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 18ch;
    }
}

@keyframes blink {
    from {
        border-right: 4px solid orange;
    }

    to {
        border-right: 4px solid rgb(40, 39, 39);
    }
}

.card-img,
.fade-in-fade-out {
    display: flex;
    width: 100%;
    max-width: 90vw;
    /* Use viewport width for larger screens */
    height: auto;
    /* Height will adjust to maintain aspect ratio */
    aspect-ratio: 2 / 3;
    /* Keeps the container's aspect ratio consistent */
    border-radius: 10%;
    padding-bottom: 20px;
    -webkit-animation: fade-inout 7s;
    -moz-animation: fade-inout 7s;
    -o-animation: fade-inout 7s;
    animation: fade-inout 7s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 3px solid black;
    box-shadow: 10px 10px #523102;
    border-radius: 5%;
}







@keyframes fade-inout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* support for opera */
@-o-keyframes fade-inout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* support for mozila */
@-moz-keyframes fade-inout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* support for safari and chrome */
@-webkit-keyframes fade-inout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.card-bg {

    width: 320px;
    height: auto;
    animation-name: slideInLeft;
    animation-duration: 1s;
    margin: 0;


}


.card-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, 320px);
    align-items: center;
}

.card-bg {
    /* Här har jag optimerat koden till alla cards! */

    position: relative;
    top: 0;
    background-color: rgb(23, 22, 22);
    padding: 10px;
    opacity: 95%;
    box-shadow: 15px 15px #523102;
    margin-top: 20px;
    margin-bottom: 20px;

}

.card-content {
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 1px;


}


.glow,
.site-title {
    animation: glow 1s ease-in-out infinite alternate;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 10;

}


.b-line:hover {
    content: "";
    position: absolute;
    height: 2px;
    width: 35%;
    background: linear-gradient(90deg, var(--pink) 0%, transparent 100%);
    bottom: 0;
    left: 0;
    transition-duration: 300ms;
}

.flip-card-wrapper {
    width: 100%;
    /* centrera i gridcellen */
}

/* Container to hold the card */
.flip-card-container {
    perspective: 1000px;
    width: 100%;
    max-width: 700px;
    /* Begränsa bredden på stora skärmar */
    height: 250px;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    /* Centrera på sidan */
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    /* 2 rader */
    grid-auto-flow: column;
    /* fyll kolumner först */
    gap: 5px;
    justify-content: center;
    align-items: center;
}



/* Front card styles */
.flip-card-front {
    background: linear-gradient(#692b02, #080808);
}

/* Back card styles */
.flip-card-back {
    background: linear-gradient(#080808, #692b02);
    transform: rotateY(180deg);
    padding-right: 20px;
}

.flip-headline {
    align-items: center;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: orange;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #f1860b, 0 0 1px #fff, 0 0 5px #934305, ;
    }

    to {
        text-shadow: 0 0 2px #a65252, 0 0 2px #ad5918, 0 0 2px #cb4210, 0 0 2px #db4711, 0 0 2px #363335, 0 0 2px #dbb708, 0 0 2px #131112;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px)
    }

    to {
        transform: translateX(0)
    }
}

@media screen and (min-width: 360px) {

    .flexbox {
        place-content: center;
    }

    .typer {
        flex-direction: column;
        font-size: 2rem;
    }

    .fade-logo {
        font-size: 3rem;
    }

    .glow {
        font-size: 2rem;
    }

    .btn {
        margin-bottom: 30px;
    }

    footer {
        margin: 0;
    }

    .card-container {
        place-content: center;

    }

    .flip-card-container {
        place-content: center;
    }

    .skills {
        font-size: 4rem;
    }
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 800px) {

    .typer,
    .fade-logo {

        font-size: 5rem;
    }

    .glow {
        font-size: 5rem;
    }


}


@media screen and (max-width: 600px) {
    .flip-card-container {
        height: auto;
        width: 100%;
        max-width: 360px;
    }

    .flip-card-inner {
        position: relative;
        min-height: 350px;
        /* eller mer om du behöver utrymme för ikoner */
    }


    .flip-card-front,
    .flip-card-back {
        position: absolute;
        inset: 0;
        min-height: 350px;
        /* tvinga höjd */
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}